@tailwind base;
@tailwind components;
@tailwind utilities;

.full-screen {
  height: calc(100vh - 160px);
}

.drawer-height {
  height: calc(100vh - 4.5rem);
}

@screen md {
  .drawer-height {
    height: unset;
  }
}

.preview-width {
  width: 80vw;
}

.toggle-dark-mode {
  float: right;
}

@layer base {
  html {
    @apply bg-gray-50;
  }

  div {
    overscroll-behavior-y: contain;
  }

  .preview p {
    margin-bottom: 16px;
  }

  .preview h1 {
    box-sizing: border-box;
    color: #24292e;
    font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji';
    font-size: 2em;
    font-weight: 600;
    line-height: 1.25;
    margin: 24px 0 16px;
    padding-bottom: 0.3em;
    word-wrap: break-word;
    border-bottom: 1px solid #eaecef;
  }
  .preview h2 {
    box-sizing: border-box;
    color: #24292e;
    font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji';
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 24px;
    padding-bottom: 0.3em;
    word-wrap: break-word;
    border-bottom: 1px solid #eaecef;
  }

  .preview h3 {
    box-sizing: border-box;
    color: #24292e;
    font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji';
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 24px;
    padding-bottom: 0.3em;
    word-wrap: break-word;
    border-bottom: 1px solid #eaecef;
  }

  .preview h4 {
    box-sizing: border-box;
    color: #24292e;
    font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji';
    font-size: 1em;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 24px;
    word-wrap: break-word;
  }

  .preview td {
    border-collapse: collapse;
    box-sizing: border-box;
    color: #24292e;
    font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji';
    line-height: 24px;
    padding: 6px 13px;
    text-align: -webkit-left;
    word-wrap: break-word;
    border: 1px solid #dfe2e5;
  }

  .preview th {
    border-collapse: collapse;
    box-sizing: border-box;
    color: #24292e;
    font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji';
    font-weight: 600;
    line-height: 24px;
    padding: 6px 13px;
    text-align: -webkit-left;
    word-wrap: break-word;
    border: 1px solid #dfe2e5;
  }

  .preview tr {
    background-color: #fff;
    border-collapse: collapse;
    box-sizing: border-box;
    color: #24292e;
    font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji';
    line-height: 24px;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
  .preview tr :nth-child(2n) {
    background-color: #f6f8fa;
  }

  .preview thead {
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    border-spacing: 0;
    border-collapse: collapse;
    box-sizing: border-box;
  }

  .preview table {
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
    border-collapse: collapse;
    box-sizing: border-box;
    color: #24292e;
    display: block;
    font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji';
    line-height: 24px;
    margin-bottom: 16px;
    margin-top: 0;
    max-width: 100%;
    overflow: auto;
    width: max-content;
    word-wrap: break-word;
  }

  .preview image {
    background-color: #fff;
    border-style: none;
    color: #0366d6;
    cursor: pointer;
    font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji';
    line-height: 24px;
    max-width: 100%;
    word-wrap: break-word;
    margin-bottom: 16px;
  }

  .preview ul {
    box-sizing: border-box;
    color: #24292e;
    font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji';
    line-height: 24px;
    margin-bottom: 16px;
    margin-top: 0;
    padding-left: 2em;
    word-wrap: break-word;
  }

  .preview ul li {
    box-sizing: border-box;
    color: #24292e;
    font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji';
    line-height: 24px;
    margin-top: 0.25em;
    text-align: left;
    word-wrap: break-word;
    list-style: initial;
  }

  .preview ol li {
    box-sizing: border-box;
    color: #24292e;
    font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji';
    line-height: 24px;
    margin-top: 0.25em;
    text-align: left;
    word-wrap: break-word;
    list-style: decimal;
  }

  .preview pre {
    background-color: #f6f8fa;
    border-radius: 6px;
    box-sizing: border-box;
    color: #24292e;
    font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
    font-size: 85%;
    line-height: 1.45;
    margin-bottom: 16px;
    margin-top: 0;
    overflow: auto;
    overflow-wrap: normal;
    padding: 16px;
    white-space: pre;
    word-break: normal;
  }

  .preview p code {
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 6px;
    box-sizing: border-box;
    color: #24292e;
    font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
    font-size: 85%;
    line-height: 20.4px;
    margin: 0;
    padding: 0.2em 0.4em;
    word-wrap: break-word;
  }

  .preview a {
    box-sizing: border-box;
    color: #0366d6;
    cursor: pointer;
    font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji';
    line-height: 24px;
    text-decoration: none;
    word-wrap: break-word;
  }

  .preview a :hover {
    outline: 0;
    text-decoration: underline;
  }
}
